<!DOCTYPE html>
<% include head.html %>

  <body>

    <div class="container px2 sm-px3">

      <div class="p3" style="color:#fff;background-color:#111111;">
        <h3 class="m0">Ooops!!!</h3>
        <span class="block color-inherit" style="font-size:6vw;line-height:1;font-weight:bold;">
          404: Page not found
        </span>
      </div>
      <% include footer.html %>

    </div>

    <!-- scripts -->
    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>

  </body>

  </html>
