<!DOCTYPE html>
<% include head.html %>

  <body>

    <div class="container px2 sm-px3">
      <div class="p3" style="color:#fff;background-color:#111111;">
        <h3 class="m0">Welcome to...</h3>
        <span class="block color-inherit" style="font-size:6vw;line-height:1;font-weight:bold;">
          ARANEUM
        </span>
      </div>

      <article class="markdown-body px0">
        <%- prop.content %>
      </article>

      <section class="container px0 py3 hp">
        <hr>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 px2 center">
      <h2 class="h1 mb0"><i class="material-icons">tune</i></h2>
      <p>Do the job faster by using markdown and easy config file.</p>
    </div>
    <div class="sm-col sm-col-4 px2 center border-left">
      <h2 class="h1 mb0"><i class="material-icons">fingerprint</i></h2>
      <p>Themes can make you stand out on the overcroude web of today.</p>
    </div>
    <div class="sm-col sm-col-4 px2 center border-left">
      <h2 class="h1 mb0"><i class="material-icons">&#xE3A5;</i></h2>
      <p>Small codebase asures easy path to customization.</p>
    </div>
  </div>
</section>

      <% include footer.html %>
    </div>

    </div>

    <!-- scripts -->
    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>

  </body>

  </html>
